.wrap {
  overflow: hidden;
}

.fixed-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .4);
}
.fixed-bg .txt-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-bg .txt {
  font-size: 50px;
  color: #000;
}
.fixed-bg .txt.active {
  color: #fff;
}
.scroll-area {
  background: #000;
}
.scroll-content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.scroll-content .scroll-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.scroll-content .scroll-img:nth-child(1) {
  height: 100%;
}
.scroll-content .scroll-img .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}
.scroll-content .scroll-img .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 50px;
  color: #fff;
}
.scroll-content .scroll-img .bg1 {
  height: 100%;
  background: url("../images/bg1.jpg") no-repeat center / cover;
}
.scroll-content .scroll-img .bg2 {
  background: url("../images/bg2.jpg") no-repeat center / cover;
}
.scroll-content .scroll-img .bg3 {
  background: url("../images/bg3.jpg") no-repeat center / cover;
}

.section2 {
  width: 100%;
  height: 100vh;
  background: #000;
}